body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}
a:hover, a:focus {
  color: var(--active-text);
}

label {
  border-style: none;
}

:root {
  --active-text: #2196F3;
  --white: #FFFFFF;
  --color-main-text: #212121;
  --description-text: #757575;
  --dark-background: #2F303A;
  --dark-background-opacity: rgba(47, 48, 58, 0.8);
  --portfolio-background: #E5E5E5;
  --mailto: rgba(255, 255, 255, 0.6);
  --team-background: #F5F4FA;
  --icon: #AFB1B8;
  --icon-footer-background: rgba(255, 255, 255, 0.1);
  --button-request-hover: #188CE8;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button {
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-main-text);
  background-color: var(--team-background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  -webkit-transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
}
.button:hover, .button:focus {
  color: var(--white);
  background-color: var(--active-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--active-text);
}

.logo--black {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--color-main-text);
  margin-right: 97px;
}

.logo--white {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
}

.button-request {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--active-text);
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: background-color var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function);
}
.button-request:hover, .button-request:focus {
  background-color: var(--button-request-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section__title {
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-duration) var(--timing-function), visibility var(--transition-duration) var(--timing-function);
  transition: opacity var(--transition-duration) var(--timing-function), visibility var(--transition-duration) var(--timing-function);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal {
  width: 528px;
  min-height: 582px;
  padding: 40px;
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: -webkit-transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function);
  transition: transform var(--transition-duration) var(--timing-function), -webkit-transform var(--transition-duration) var(--timing-function);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}
.close-button:hover, .close-button:focus {
  border: 1px solid var(--active-text);
  background-color: var(--white);
}

.icon-close-modal {
  fill: rgba(0, 0, 0, 0.8);
}
.close-button:hover + .icon-close-modal, .close-button:focus + .icon-close-modal {
  fill: var(--active-text);
}

.modal-title {
  font-family: inherit;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--color-main-text);
  margin-bottom: 12px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--description-text);
  position: relative;
}

.modal-label-text {
  font-family: inherit;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-size: 12px;
}

.input-wrap {
  position: relative;
}

.modal-input {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 14px;
  color: var(--description-text);
  padding-left: 35px;
  -webkit-transition: border-color var(--transition-duration) var(--timing-function);
  transition: border-color var(--transition-duration) var(--timing-function);
}
.modal-input:hover, .modal-input:focus {
  outline: none;
  border-color: var(--active-text);
}
.modal-input::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.modal-input::-moz-placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.modal-input:-ms-input-placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.modal-input::-ms-input-placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.modal-input::placeholder {
  font-size: 14px;
  color: var(--description-text);
}

.form-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--color-main-text);
  -webkit-transition: fill var(--timing-function) var(--transition-duration);
  transition: fill var(--timing-function) var(--transition-duration);
}
.modal-input:hover + .form-icon, .modal-input:focus + .form-icon {
  fill: var(--active-text);
}

.comments-area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border var(--timing-function) var(--transition-duration);
  transition: border var(--timing-function) var(--transition-duration);
}
.comments-area::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.comments-area::-moz-placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.comments-area:-ms-input-placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.comments-area::-ms-input-placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.comments-area::placeholder {
  font-size: 14px;
  color: var(--description-text);
}
.comments-area:hover, .comments-area:focus {
  outline: none;
  border: 1px solid var(--active-text);
}

.agreement-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 12px 30px 12px;
  position: relative;
}

.agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: relative;
  -webkit-transition: fill var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), border-color var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), border-color var(--transition-duration) var(--timing-function);
}

.agreement-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  color: var(--description-text);
}

.agreement .agreement-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-main-text);
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: transparent;
  -webkit-transition: border-color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), fill var(--timing-function) var(--transition-duration);
  transition: border-color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), fill var(--timing-function) var(--transition-duration);
}
.input-checkbox:checked + .agreement .agreement-checkbox {
  background-color: var(--active-text);
  border-color: transparent;
  fill: var(--white);
}
.input-checkbox:focus + .agreement .agreement-checkbox, .input-checkbox:hover + .agreement .agreement-checkbox {
  border-color: var(--active-text);
}

.agreement-link {
  color: var(--active-text);
  text-decoration: underline;
}

.form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin: 0px auto;
  width: 200px;
  height: 50px;
  padding: 0;
  color: var(--white);
  border: none;
  border-radius: 4px;
  background-color: var(--active-text);
  -webkit-transition: background-color var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function);
}
.form-btn:hover, .form-btn:focus {
  background-color: var(--button-request-hover);
}

.grid__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
  transition: background-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
}
.social__item:hover, .social__item:focus {
  background-color: var(--active-text);
  fill: var(--white);
}

.social__item--dark {
  background-color: var(--icon-footer-background);
  fill: var(--white);
}

.social__item--light {
  background-color: var(--white);
  fill: var(--icon);
}

.header {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.menu .link {
  text-decoration: none;
  font-family: inherit;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-main-text);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}
.menu .link:hover, .menu .link:focus {
  text-decoration: none;
  color: var(--active-text);
}
.menu .active {
  text-decoration: none;
  color: var(--active-text);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
  position: relative;
}
.menu .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--active-text);
  border-radius: 2px;
  position: absolute;
  bottom: -33px;
  margin: 0;
}

.header__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-left: auto;
}

.navigation__logo,
.footer__logo {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.navigation__logo .logo--black,
.footer__logo .logo--black {
  color: var(--color-main-text);
}
.navigation__logo .logo--white,
.footer__logo .logo--white {
  color: var(--white);
}

.connect__menu .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  color: var(--description-text);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}
.connect__menu .link:hover, .connect__menu .link:focus {
  color: var(--active-text);
}

.connect__icon {
  margin-right: 10px;
  margin-bottom: 0px;
  fill: currentColor;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.hero__section {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: 1600px 600px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__heading {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white);
  text-transform: uppercase;
  max-width: 696px;
  text-align: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.definition-section {
  padding-top: 94px;
}

.definition__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.definition__grid .definition__item {
  width: calc((100% - 90px) / 4);
}

.definition__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--team-background);
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.definition__title {
  font-family: inherit;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-main-text);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.definition__about {
  font-family: inherit;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  color: var(--description-text);
}

.whatwedo__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.whatwedo__list {
  position: relative;
}

.whatwedo__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: var(--dark-background-opacity);
}

.whatwedo__title {
  color: var(--white);
  font-family: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.team__section {
  background-color: var(--team-background);
}

.team__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__box {
  background-color: var(--white);
  width: 270px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card {
  padding: 30px;
}

.team__name {
  font-family: inherit;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-main-text);
  text-align: center;
  margin-bottom: 10px;
}

.team__position {
  font-family: inherit;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  color: var(--description-text);
  text-align: center;
  margin-bottom: 16px;
}

.customer__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer__item {
  width: 170px;
  height: 92px;
}

.customer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
  transition: border-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
}
.customer__logo:hover, .customer__logo:focus {
  border-color: var(--active-text);
}

.customer__link {
  fill: var(--icon);
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}
.customer__logo:hover .customer__link, .customer__logo:focus .customer__link {
  fill: var(--active-text);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__logo {
  text-decoration: none;
  padding: 0;
  margin: 0, 0, 20px, 0;
}

.address {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
  max-width: 231px;
  margin-top: 20px;
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}
.address:hover, .address:focus {
  color: var(--active-text);
}

.footer__link {
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  color: var(--mailto);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}
.footer__link:hover, .footer__link:focus {
  color: var(--active-text);
}

.footer__address {
  margin-bottom: 9px;
}

.footer__social {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__title {
  font-family: inherit;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__subscribe {
  display: block;
  width: 570px;
  margin-left: auto;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  gap: 12px;
  border: none;
}

.input__email {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-background);
  -webkit-transition: border var(--transition-duration) var(--timing-function);
  transition: border var(--transition-duration) var(--timing-function);
}
.input__email:hover, .input__email:focus {
  border: 1px solid var(--active-text);
  outline: none;
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: auto;
  color: var(--white);
  background-color: var(--active-text);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--timing-function) var(--transition-duration);
  transition: background-color var(--timing-function) var(--transition-duration);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--button-request-hover);
}

.subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
  margin-left: 280px;
}

.button1 {
  width: 73px;
}

.button2 {
  width: 128px;
}

.button3 {
  width: 145px;
}

.button4 {
  width: 103px;
}

.button5 {
  width: 130px;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.portfolio-card {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: box-shadow var(--transition-duration) var(--timing-function);
  transition: box-shadow var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
}
.portfolio-card:hover, .portfolio-card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-card {
  width: 370;
  height: 294;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--active-text);
  opacity: 0.9;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform var(--transition-duration) ease;
  transition: -webkit-transform var(--transition-duration) ease;
  transition: transform var(--transition-duration) ease;
  transition: transform var(--transition-duration) ease, -webkit-transform var(--transition-duration) ease;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.portfolio-card:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-overlay {
  font-family: inherit;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  margin: 0;
  padding: 63px 23px;
}

.portfolio-item-box {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.portfolio-title {
  font-family: inherit;
  line-height: 2;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 4px;
  color: var(--color-main-text);
}

.portfolio-about {
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 16px;
  color: var(--description-text);
}/*# sourceMappingURL=main.css.map */