body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}
a:hover, a:focus {
  color: var(--active-text);
}

label {
  border-style: none;
}

:root {
  --active-text: #2196F3;
  --white: #FFFFFF;
  --color-main-text: #212121;
  --description-text: #757575;
  --dark-background: #2F303A;
  --dark-background-opacity: rgba(47, 48, 58, 0.8);
  --portfolio-background: #E5E5E5;
  --mailto: rgba(255, 255, 255, 0.6);
  --team-background: #F5F4FA;
  --icon: #AFB1B8;
  --icon-footer-background: rgba(255, 255, 255, 0.1);
  --button-request-hover: #188CE8;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.button {
  font-family: inherit;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-main-text);
  background-color: var(--team-background);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  -webkit-transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function), -webkit-box-shadow var(--transition-duration) var(--timing-function);
}
.button:hover, .button:focus {
  color: var(--white);
  background-color: var(--active-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-left: auto;
}

.header-link,
.footer-link {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--active-text);
  margin-right: 97px;
}

.header-link .logo-1 {
  color: var(--ordinary-text);
}

.footer-link .logo-2 {
  color: var(--white);
  margin-bottom: 20px;
}

.nav-site .link {
  text-decoration: none;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--ordinary-text);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}

.nav-site .link:hover,
.nav-site .link:focus {
  text-decoration: none;
  color: var(--active-text);
}

.nav-site .active {
  text-decoration: none;
  color: var(--active-text);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
  position: relative;
}

.nav-site .active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--active-text);
  border-radius: 2px;
  position: absolute;
  bottom: -33px;
  margin: 0;
}

.list {
  list-style: none;
}

.header-list .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--description-text);
  -webkit-transition: color var(--transition-duration) var(--timing-function);
  transition: color var(--transition-duration) var(--timing-function);
}

.header-list .link:hover,
.header-list .link:focus {
  color: var(--active-text);
}

.icon-envelope {
  margin-right: 10px;
  margin-bottom: 0px;
  fill: currentColor;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}

.icon-phone {
  fill: currentColor;
  margin-right: 10px;
  margin-bottom: 0px;
  -webkit-transition: fill var(--transition-duration) var(--timing-function);
  transition: fill var(--transition-duration) var(--timing-function);
}/*# sourceMappingURL=main.css.map */