/*------basic!------*/
:root {
    --active-text: #2196F3;
    --white: #FFFFFF;
    --ordinary-text: #212121;
    --description-text: #757575;
    --dark-background: #2F303A;
    --dark-background-opacity: rgba(47, 48, 58, 0.8);
    --portfolio-background: #E5E5E5;
    --mailto: rgba(255, 255, 255, 0.6);
    --team-background: #F5F4FA;
    --icon: #AFB1B8;
    --icon-footer-background: rgba(255, 255, 255, 0.1);
    --transition-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --button-request-hover: #188CE8;
}

body{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.14;
letter-spacing: 0.03em;
color: var(--ordinary-text);
background-color: var(--white);
}

*::before,
*::after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
    display: block;
  }

a {
    text-decoration: none;
    cursor: pointer;
    transition: color var(--transition-duration) var(--timing-function);
}

a:hover,
a:focus {
    color: var(--active-text)
}

.list {
    list-style: none;
  }
  
.link {
    text-decoration: none;
    transition: color var(--transition-duration) var(--timing-function);
  }

label {
    border-style: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
  }

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.06em;
    color: var(--ordinary-text);
    background-color: var(--team-background);
    border: none;
    border-radius: 4px;
    position: relative;
    transition: color var(--transition-duration) var(--timing-function), background-color var(--transition-duration) var(--timing-function), box-shadow var(--transition-duration) var(--timing-function);
}

.button:hover,
.button:focus {
    color: var(--white);
    background-color: var(--active-text);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------Header!--------*/

.header {
display: block;
padding-top: 24px;
padding-bottom: 25px;
border-bottom: 1px solid #ececec;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-site {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-contact {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: auto;
}

.header-link, 
.footer-link {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--active-text);
    margin-right: 97px;
}

.header-link .logo-1 {
    color: var(--ordinary-text);
}

.footer-link .logo-2 {
    color: var(--white);
    margin-bottom: 20px;
}

.nav-site .link {
    text-decoration: none;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--ordinary-text);
    transition: color var(--transition-duration) var(--timing-function);
}

.nav-site .link:hover,
.nav-site .link:focus {
    text-decoration: none;
    color: var(--active-text);
}

.nav-site .active {
    text-decoration: none;
    color: var(--active-text);
    transition: color var(--transition-duration) var(--timing-function);
    position: relative;
}

.nav-site .active::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--active-text);
    border-radius: 2px;
    position: absolute;
    bottom: -33px;
    margin: 0;
}

.list {
    list-style: none;
}

.header-list .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--description-text); 
    transition: color var(--transition-duration) var(--timing-function);   
}

.header-list .link:hover,
.header-list .link:focus {
    color: var(--active-text);
}

.icon-envelope {
    margin-right: 10px;
    margin-bottom: 0px;
    fill: currentColor;
    transition: fill var(--transition-duration) var(--timing-function);
}

.icon-phone {
    fill: currentColor;
    margin-right: 10px;
    margin-bottom: 0px;
    transition: fill var(--transition-duration) var(--timing-function);
}

/*main*/

.hero-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    align-items: center;
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: relative;
 }


.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-heading {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--white);
    text-transform: uppercase;
    max-width: 696px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.button-request {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 188% */
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--active-text);
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    position: relative;
    transition: background-color var(--transition-duration) var(--timing-function);
}

.button-request:hover,
.button-request:focus {
    background-color: var(--button-request-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.definition-section,
.section {
    padding-top: 94px;
}

.section {
    padding-bottom: 94px;
}

.definition {
    display: flex;
    gap: 30px;
}

.definition .definition-list {
    width: calc((100%-90px)/4)
}

.feature {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--team-background);
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.definition-name {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.definition-about {
    line-height: 1.71;
    color: var(--description-text);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.pictures-container {
    display: flex;
    gap: 30px;
}

.what {
    text-align: center;
}

.what-list {
    position: relative;
}

.what-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: var(--dark-background-opacity);
    color: var(--white);
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
}

.team {
    background-color: var(--team-background);
}

.team-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.box {
    background-color: var(--white);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card {
    padding: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
/* identical to box height */
    text-align: center;
    margin-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
/* identical to box height */
    color: var(--description-text);
    text-align: center;
    margin-bottom: 16px;
}

.social-links-team {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.social-item-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white);
    fill: var(--icon);
    transition: background-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
   }

.social-item-team:hover,
.social-item-team:focus {
    background-color: var(--active-text);
    fill: var(--white);
}


.customers-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.customer {
    width: 170px;
    height: 92px;
}

.customer-logo {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: border-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
}

.customer-link {
    fill: var(--icon);
    transition: fill var(--transition-duration) var(--timing-function);
}

.customer-logo:hover,
.customer-logo:focus {
    border-color: var(--active-text);
}

.customer-logo:hover .customer-link,
.customer-logo:focus .customer-link {
    fill: var(--active-text);
}

.footer {
    background-color: var(--dark-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-a-logo {
    margin-bottom: 20px;
}

.address {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
/* or 171% */
    color: var(--white);
    max-width: 231px;
    margin-top: 20px;
    transition: color var(--transition-duration) var(--timing-function);
   } 

.address:hover,
.address:focus {
    color: var(--active-text);
}

.address-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
    /* or 171% */
    color: var(--mailto);
    transition: color var(--transition-duration) var(--timing-function);
}

.address-link:hover,
.address-link:focus {
    color: var(--active-text);
}

.footer-address {
    margin-bottom: 9px;
}

.footer-container {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.footer-social-list {
    align-items: baseline;
}

.footer-social-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    margin-bottom: 20px;
}

.footer-social-links {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--icon-footer-background);
    fill: var(--white);
    transition: background-color var(--transition-duration) var(--timing-function);
   }

.social-item:hover,
.social-item:focus {
    background-color: var(--active-text);
}

.footer-subscribe {
    display: block;
    width: 570px;
    margin-left: auto;
}

.footer-subscribe-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--white);
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
}

.subscribe-form {
    display: flex;
    justify-content: baseline;
    gap: 12px;
    border: none;
}

.input-email {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark-background);
    transition: border var(--transition-duration) var(--timing-function);
}

.input-email:hover,
.input-email:focus {
    border: 1px solid var(--active-text);
    outline: none;
}

.send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-left: auto;
    color: var(--white);
    background-color: var(--active-text);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--timing-function) var(--transition-duration);
}

.send-btn:hover,
.send-btn:focus {
    background-color: var(--button-request-hover);
}

.icon-send {
    fill: currentColor;
    margin-left: 10px;
}

/*PORTFOLIO*/
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
    margin-left: 280px;
}

.button1 {width: 73px;}
.button2 {width: 128px;}
.button3 {width: 145px;}
.button4 {width: 103px;}
.button5 {width: 130px;}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}

.portfolio-card {
    display: block;
    box-shadow: none;
    transition: box-shadow var(--transition-duration) var(--timing-function);
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-card {
    width: 370;
    height: 294;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--active-text);
    opacity: 0.9;
    transform: translateY(101%);
    transition: transform var(--transition-duration) ease;
    transition-timing-function: var(--timing-function);
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.text-overlay {
    font-family: inherit;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white);
    margin: 0;
    padding: 63px 23px;
}

.portfolio-item-box {
    border-right: 1px solid #EEEEEE; 
    border-bottom: 1px solid #EEEEEE; 
    border-left: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.portfolio-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--ordinary-text);
}

.portfolio-about {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.88;
    color: var(--description-text);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-duration) var(--timing-function),
      visibility var(--transition-duration) var(--timing-function);
}

.modal {
    width: 528px;
    height: 582px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--timing-function);
}


.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white);
    transition: fill var(--transition-duration) var(--timing-function);
}

.close-button:hover,
.close-button:focus {
    border: 1px solid var(--active-text);
    background-color: var(--white);
    box-shadow: none;
}

.icon-close-modal {
    fill: rgba(0, 0, 0, 0.8);
}

.close-button:hover .icon-close-modal,
.close-button:focus .icon-close-modal {
    fill: var(--active-text)
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }

.modal-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--ordinary-text);
    margin-top: 40px;
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

.label {
    display: flex;
    flex-direction: column;
    font-family: inherit;
    letter-spacing: 0.01em;
    color: var(--description-text);
    position: relative;
}

.input-form {
    position: relative;
    height: 40px;
    padding-left: 42px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-duration) var(--timing-function);
}

.form-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    fill: var(--ordinary-text);
    transition: fill var(--timing-function) var(--transition-duration);
}

.input-form:hover + .form-icon,
.input-form:focus + .form-icon {
    fill: var(--active-text);
}

.input-form:hover,
.input-form:focus {
    outline: none;
    border-color: var(--active-text);
}

.comments-area {
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border var(--timing-function) var(--transition-duration);
}

.comments-area:hover,
.comments-area:focus {
    outline: none;
    border: 1px solid var(--active-text);
}

.agreement {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-top: 10px;
    margin-left: 12px;
    position: relative;
}

.agreement p {
    display: block;
    align-items: center;
    padding: 0;
    margin-left: 7px;
    color: var(--description-text);
}

.icon.agreement-checkbox {
    display: block;
    position: absolute;
    left: 50px;
    cursor: pointer;
    border: 2px solid var(--ordinary-text);
    fill: var(--white);
    background-color: var(--white);
    border-radius: 2px;
}

.agreement-checkbox:checked + .icon.agreement-checkbox {
    background-color: var(--active-text);
    border-color: var(--active-text);
}

.agreement-link {
    color: var(--active-text);
    text-decoration: underline;
}

.form-btn {
    display: flex;
    left: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin: 0px auto 20px;
    width: 200px;
    height: 50px;
    padding: 0;
    color: var(--white);
    border: none;
    border-radius: 4px;
    background-color: var(--active-text);
    transition: background-color var(--transition-duration) var(--timing-function);
}

.form-btn:hover,
.form-btn:focus {
    background-color: var(--button-request-hover);
}