/*------basic!------*/













/*--------Header!--------*/


/*main*/





.definition-section,
.section {
    padding-top: 94px;
}



.definition {
    display: flex;
    gap: 30px;
}

.definition .definition-list {
    width: calc((100%-90px)/4)
}

.feature {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: var(--team-background);
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.definition-name {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.definition-about {
    line-height: 1.71;
    color: var(--description-text);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.pictures-container {
    display: flex;
    gap: 30px;
}

.what {
    text-align: center;
}

.what-list {
    position: relative;
}

.what-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: var(--dark-background-opacity);
    color: var(--white);
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
}

.team {
    background-color: var(--team-background);
}

.team-container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.box {
    background-color: var(--white);
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card {
    padding: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
/* identical to box height */
    text-align: center;
    margin-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.19;
/* identical to box height */
    color: var(--description-text);
    text-align: center;
    margin-bottom: 16px;
}

.social-links-team {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.social-item-team {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white);
    fill: var(--icon);
    transition: background-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
   }

.social-item-team:hover,
.social-item-team:focus {
    background-color: var(--active-text);
    fill: var(--white);
}


.customers-container {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.customer {
    width: 170px;
    height: 92px;
}

.customer-logo {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: border-color var(--transition-duration) var(--timing-function), fill var(--transition-duration) var(--timing-function);
}

.customer-link {
    fill: var(--icon);
    transition: fill var(--transition-duration) var(--timing-function);
}

.customer-logo:hover,
.customer-logo:focus {
    border-color: var(--active-text);
}

.customer-logo:hover .customer-link,
.customer-logo:focus .customer-link {
    fill: var(--active-text);
}

.footer {
    background-color: var(--dark-background);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-a-logo {
    margin-bottom: 20px;
}

.address {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
/* or 171% */
    color: var(--white);
    max-width: 231px;
    margin-top: 20px;
    transition: color var(--transition-duration) var(--timing-function);
   } 

.address:hover,
.address:focus {
    color: var(--active-text);
}

.address-link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 00.03em;
    /* or 171% */
    color: var(--mailto);
    transition: color var(--transition-duration) var(--timing-function);
}

.address-link:hover,
.address-link:focus {
    color: var(--active-text);
}

.footer-address {
    margin-bottom: 9px;
}

.footer-container {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

.footer-social-list {
    align-items: baseline;
}

.footer-social-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    margin-bottom: 20px;
}

.footer-social-links {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--icon-footer-background);
    fill: var(--white);
    transition: background-color var(--transition-duration) var(--timing-function);
   }

.social-item:hover,
.social-item:focus {
    background-color: var(--active-text);
}

.footer-subscribe {
    display: block;
    width: 570px;
    margin-left: auto;
}

.footer-subscribe-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--white);
    font-style: normal;
    font-family: inherit;
    font-weight: 700;
}

.subscribe-form {
    display: flex;
    justify-content: baseline;
    gap: 12px;
    border: none;
}

.input-email {
    padding-left: 16px;
    width: 358px;
    height: 50px;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--dark-background);
    transition: border var(--transition-duration) var(--timing-function);
}

.input-email:hover,
.input-email:focus {
    border: 1px solid var(--active-text);
    outline: none;
}

.send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    padding: 0;
    margin-left: auto;
    color: var(--white);
    background-color: var(--active-text);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--timing-function) var(--transition-duration);
}

.send-btn:hover,
.send-btn:focus {
    background-color: var(--button-request-hover);
}

.icon-send {
    fill: currentColor;
    margin-left: 10px;
}

/*PORTFOLIO*/
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
    margin-left: 280px;
}

.button1 {width: 73px;}
.button2 {width: 128px;}
.button3 {width: 145px;}
.button4 {width: 103px;}
.button5 {width: 130px;}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}

.portfolio-card {
    display: block;
    box-shadow: none;
    transition: box-shadow var(--transition-duration) var(--timing-function);
}

.portfolio-card:hover,
.portfolio-card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-card {
    width: 370;
    height: 294;
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--active-text);
    opacity: 0.9;
    transform: translateY(101%);
    transition: transform var(--transition-duration) ease;
    transition-timing-function: var(--timing-function);
}

.portfolio-card:hover .overlay {
    transform: translateY(0);
}

.text-overlay {
    font-family: inherit;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--white);
    margin: 0;
    padding: 63px 23px;
}

.portfolio-item-box {
    border-right: 1px solid #EEEEEE; 
    border-bottom: 1px solid #EEEEEE; 
    border-left: 1px solid #EEEEEE;
    padding: 20px 24px;
}

.portfolio-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: var(--ordinary-text);
}

.portfolio-about {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.88;
    color: var(--description-text);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-duration) var(--timing-function),
      visibility var(--transition-duration) var(--timing-function);
}

.modal {
    width: 528px;
    min-height: 582px;
    padding: 40px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--timing-function);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
  }

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--white);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill var(--transition-duration) var(--timing-function);
}

.close-button:hover,
.close-button:focus {
    border: 1px solid var(--active-text);
    background-color: var(--white);
}

.icon-close-modal {
    fill: rgba(0, 0, 0, 0.8);
}

.close-button:hover .icon-close-modal,
.close-button:focus .icon-close-modal {
    fill: var(--active-text)
}

.modal-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--ordinary-text);
    margin-bottom: 12px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    display: flex;
    flex-direction: column;
    color: var(--description-text);
    position: relative;
}

.modal-label-text {
    font-family: inherit;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}


.input-wrap {
    position: relative;
}

.modal-input {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    font-size: 14px;
    color: var(--description-text);
    padding-left: 35px;
    transition: border-color var(--transition-duration) var(--timing-function);
}

.form-icon {
    position: absolute;
    left: 12px;
    bottom: 11px;
    fill: var(--ordinary-text);
    transition: fill var(--timing-function) var(--transition-duration);
}

.modal-input:hover + .form-icon,
.modal-input:focus + .form-icon {
    fill: var(--active-text);
}

.modal-input:hover,
.modal-input:focus {
    outline: none;
    border-color: var(--active-text);
}

.modal-input::placeholder,
.comments-area::placeholder {
    font-size: 14px;
    color: var(--description-text);
}

.comments-area {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border var(--timing-function) var(--transition-duration);
}

.comments-area:hover,
.comments-area:focus {
    outline: none;
    border: 1px solid var(--active-text);
}

.agreement-field {
    display: flex;
    align-items: center;
    padding: 10px 12px 30px 12px;
    position: relative;
}

.agreement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    transition: fill var(--transition-duration) var(--timing-function), 
                background-color var(--transition-duration) var(--timing-function),
                border-color var(--transition-duration) var(--timing-function);
}

.agreement-text {
    align-items: center;
    padding: 0;
    color: var(--description-text);
}

.agreement .agreement-checkbox {
    width: 16px;
    height: 15px;
    border: 2px solid var(--ordinary-text);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.input-checkbox:checked + .agreement .agreement-checkbox {
    background-color: var(--active-text);
    border-color: transparent;
    fill: var(--white);
}

.input-checkbox:focus + .agreement .agreement-checkbox,
.input-checkbox:hover + .agreement .agreement-checkbox {
    border-color: var(--active-text);
}

.agreement-link {
    color: var(--active-text);
    text-decoration: underline;
}

.form-btn {
    display: flex;
    left: 50%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin: 0px auto;
    width: 200px;
    height: 50px;
    padding: 0;
    color: var(--white);
    border: none;
    border-radius: 4px;
    background-color: var(--active-text);
    transition: background-color var(--transition-duration) var(--timing-function);
}

.form-btn:hover,
.form-btn:focus {
    background-color: var(--button-request-hover);
}