.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    color: var(--active-text);
}

.logo-black {
    color: var(--color-main-text);
    margin-right: 97px;
}

.logo-white {
    color: var(--white);
}