:root {
    --active-text: #2196F3;
    --white: #FFFFFF;
    --color-main-text: #212121;
    --description-text: #757575;
    --dark-background: #2F303A;
    --dark-background-opacity: rgba(47, 48, 58, 0.8);
    --portfolio-background: #E5E5E5;
    --mailto: rgba(255, 255, 255, 0.6);
    --team-background: #F5F4FA;
    --icon: #AFB1B8;
    --icon-footer-background: rgba(255, 255, 255, 0.1);
    --button-request-hover: #188CE8;
    --transition-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --main-font: 'Roboto', sans-serif;
}