.customer__grid {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.customer__item {
    width: 170px;
    height: 92px;
}

.customer__logo {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: border-color var(--transition-duration) var(--timing-function), 
                fill var(--transition-duration) var(--timing-function);
        &:hover,
        &:focus {
            border-color: var(--active-text);
        }        
}

.customer__link {
    fill: var(--icon);
    transition: fill var(--transition-duration) var(--timing-function);

        .customer__logo:hover &,
        .customer__logo:focus & {
            fill: var(--active-text);
        }
}


