.what-list {
    position: relative;
}

.what-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    background-color: var(--dark-background-opacity);
    color: var(--white);
    font-family: inherit;
    @include font (700, 14px, 1.14, 0.03em);
    text-transform: uppercase;
}
